<!DOCTYPE html>
<html ng-app="application" ng-controller="indexCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGB Pizza</title>
    <!--dependent stylesheets-->
    <link rel="stylesheet" type="text/css" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/style.css">
    <link rel="stylesheet" type="text/css" href="src/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/bootstrap-social.css">
</head>
<body>
    <div id="wrap">
        <!-- load angular before loading the dom -> caused by injection dependencies -->
        <script src="src/js/angular.min.js"></script>
        <div class="row-clearfix">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">OGB Pizza</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-class="currentPage=='home'?'active':''"><a href="#/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                            <li ng-class="currentPage=='menu'?'active':''"><a href="#/menu"><i class="glyphicon glyphicon-cutlery"></i> Bestellen</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Warenkorb
                                    <span ng-cloak class="label label-info" ng-if="shoppingCart.length > 0">{{shoppingCart.length}}</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-cart" role="menu">
                                    <li ng-repeat="(key, article) in shoppingCart">
                                        <span class="item">
                                            <span class="item-left">
                                                <img src="../../../pizza/src/img/articles/{{articles[article.articleId].image}}.jpeg" width="50px" height="50px;" class="img img-circle"/>
                                                <span class="item-info">
                                                    <span><strong>{{articles[article.articleId].name}}</strong></span>
                                                    <span ng-repeat="ingredient in article.ingredients" style="font-size: 80%;"> + {{ingredients[ingredient].name}}</span>
                                                </span>
                                            </span>
                                            <span class="item-right">
                                               <!-- <span class="label label-danger pull-right" style="margin-left:5px;cursor:pointer;" ng-click="removeArticleFromCart(key);">x</span> -->
                                                <span class="label label-danger pull-right">{{article.price}} €</span>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="divider" ng-if="shoppingCart.length > 0"></li>
                                    <li ng-if="shoppingCart.length > 0">
                                        <span class="item">
                                           <span class="item-left"><strong>Gesamtpreis: </strong></span>
                                            <span class="item-right label label-warning pull-right">{{consolidatedPrice}} €</span>
                                        </span>
                                    </li>
                                    <li class="divider" ng-if="shoppingCart.length > 0"></li>
                                    <li><a class="text-center" ng-if="shoppingCart.length > 0" style="cursor:pointer" ng-click="toggleCart();">Warenkorb anzeigen / Bestellen</a></li>
                                </ul>
                            </li>
                           <!-- <li ng-cloak ng-if="session.data.is_admin > 0" ng-class="currentPage=='admin'?'active':''"><a href="#/admin"><i class="fa fa-cog fa-spin"></i> Adminpanel</a></li> -->
                            <li ng-cloak ng-if="session.isLoggedIn" class="dropdown">
                                <a href="#/" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> {{session.username}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-cloak ng-if="session.data.is_admin > 0" ng-class="currentPage=='admin'?'active':''"><a href="#/admin"><i class="fa fa-cog fa-spin"></i> Adminpanel</a></li>
                                    <li><a href="#"><i class="fa fa-cog fa-edit"></i> Bearbeiten</a></li>
                                    <li class="divider"></li>
                                    <li><a style="cursor:pointer" ng-click="logout();"><i class="fa fa-sign-out"></i> logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form ng-cloak ng-if="!session.isLoggedIn" id="signin" class="navbar-form navbar-right" role="form">
                            <div style="margin:2px;" class="input-group" ng-cloak ng-show="indicators.showLoginForm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username" ng-model="loginData.username">
                            </div>
                            <div style="margin:2px;" class="input-group" ng-cloak ng-show="indicators.showLoginForm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Passwort" ng-model="loginData.password">
                            </div>
                            <button style="margin:2px;" ng-cloak ng-if="!indicators.showLoginForm" class="btn btn-primary" ng-click="toggleLoginForm();">Einloggen</button>
                            <button style="margin:2px;" ng-cloak ng-if="indicators.showLoginForm && loginData.password && loginData.username" class="btn btn-success" ng-click="login();">Login</button>
                            <button style="margin:2px;" ng-cloak ng-if="indicators.showLoginForm" class="btn btn-danger" ng-click="cancelLogin();">Abbrechen</button>
                            <button style="margin:2px;" ng-cloak class="btn btn-info" ng-click="toggleRegisterModal();">Registrieren</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div ng-view>
            <!--AngularJS view content for destination templates-->
        </div>
    </div>
    <div ng-if="currentPage!='admin'" class="row-clearfix">
        <div id="footer">
            <div class="banner" align="center">
                <div class="container">
                    <div class="row" style="margin-top:2%">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-inline banner-social-buttons">
                                <li style="margin:10px;"><a href="#/"  class="btn btn-default btn-lg" target="_blank"><i class="fa fa-home fa-fw"></i> <span class="network-name">Home</span></a>
                                </li>
                                <li style="margin:10px;"><a href="#/menu" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-cutlery"></i> <span class="network-name">Bestellen</span></a>
                                </li>
                                <li style="margin:10px;"><a href="#/imprint" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw" target="_blank"></i> <span class="network-name">Impressum</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <modal title="Warenkorb" visible="indicators.showCart">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-striped table-responsive table-hover">
                    <thead class="text-muted" style="font-weight:bold;">
                        <th></th>
                        <th>Artikel</th>
                        <th>Extra Zutaten</th>
                        <th>Preis</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, article) in shoppingCart" class="text-muted" style="font-weight:bold;">
                            <td>
                                <img src="../../../pizza/src/img/articles/{{articles[article.articleId].image}}.jpeg" class="img-responsive img-rounded" width="100px" height="100px;">
                            </td>
                            <td>
                                <span style="font-size:120%;">{{articles[article.articleId].name}}</span>
                            </td>
                            <td>
                                <span  ng-repeat="ingredient in article.ingredients">
                                    <span> + {{ingredients[ingredient].name}}</span>
                                    <span class="pull-right item-right label label-success">{{ingredients[ingredient].price}} €</span>
                                    <br>
                                </span>
                            </td>
                            <td>
                                <span class="label label-danger pull-right" style="font-size:120%;">{{article.price}} €</span>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger pull-right" ng-click="removeArticleFromCart(key);"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span style="font-weight:bold;font-size:120%;" class="text-muted">Gesamtpreis:</span>
                            </td>
                            <td><span class="label label-warning pull-right" style="font-size:120%;">{{consolidatedPrice}} €</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success btn-sm" style="width:100%;"><i class="fa fa-cart-arrow-down"></i> Bestellen</button>
            </div>
        </div>
    </modal>


    <modal title="Registrieren" visible="indicators.showRegisterModal">
        <div class="row clearfix">
            <div class="col-md-12 column" style="margin-bottom:3%;">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                            <h2><small>OGB-Pizza Benutzerkonto erstellen</small></h2>
                            <hr>
                            <div class="form-group">
                                <input type="text" ng-model="data.register.username" class="form-control input-sm" placeholder="Benutzername">
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="data.register.email" class="form-control input-sm" placeholder="Email Addresse">
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.first_name" class="form-control input-sm" placeholder="Vorname">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.last_name" class="form-control input-sm" placeholder="Nachname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.street_name" class="form-control input-sm" placeholder="Straße">
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.street_number" class="form-control input-sm" placeholder="Nr.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.zip" class="form-control input-sm" placeholder="Postleitzahl">
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="data.register.location" class="form-control input-sm" placeholder="Ort">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="data.register.phone" class="form-control input-sm" placeholder="Telefonnummner">
                            </div>
                            <hr>
                            <div class="form-group">
                                <input type="password" ng-model="data.register.password" class="form-control input-sm" placeholder="Passwort">
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <btn class="btn btn-sm btn-primary btn-block" ng-class="!registrationFormCompleted ? 'disabled':''"><i class="fa fa-user-plus"></i> Registrieren</btn>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </modal>

    <!--dependent scripts-->
    <script src="src/js/angular-route.js"></script>
    <script src="src/js/jquery-1.11.1.min.js"></script>
    <script src="src/js/bootstrap.min.js"></script>
    <script src="application/application.js"></script>
    <script src="application/providers.js"></script>
    <script src="application/directives.js"></script>
    <script src="application/controllers.js"></script>
    <script src="application/factories.js"></script>
    <script src="src/js/ui-bootstrap-0.11.2.min.js"></script>
</body>
</html>