<div class="row clearfix">
    <div class="col-md-1 column">
    </div>
    <div class="col-md-1 column">
        <div class="form-group">
            <button type="button" class="btn btn-lg btn-default" onClick="self.location.href='#/admin'">
                <span class="glyphicon glyphicon-arrow-left"></span> Zur&uuml;ck
            </button>
        </div>
    </div>
    <div class="col-md-10">
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <pre>{{data.orders | json}}</pre>
    </div>
</div>