<div class="row clearfix" style="margin:4%;">
    <div class="col-md-1 column">
    </div>
    <div class="col-md-1 column">
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-default" onClick="self.location.href='#/admin'">
                <span class="glyphicon glyphicon-arrow-left"></span> Zur&uuml;ck zur Übersicht
            </button>
        </div>
    </div>
    <div class="col-md-10 column">
    </div>
</div>
<div class="row clearfix" style="margin:4%;">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column" style="background-color:white;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;">
        <div id="statistic" style="width:50%;height:50%;margin: 0 auto" class="pull-left"></div>
        <div id="ingredients" style="width:50%;height:50%;margin: 0 auto" class="pull-right"></div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>
